<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default flat-panel wrapper-content-area">
            <div class="panel-heading flat-panel">
              Branch Info
              <button type="button" class="btn btn-sm btn-custom btn-right" (click)="handleAddEdit(0,newUser)"> <span
                  class="fa fa-plus"></span>
                Add</button>
            </div>
            <div class="panel-body">
              <div class="user-table">
                <table datatable class="row-border table table-bordered table-striped" [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>BranchId</th>
                      <th>Branch</th>
                      <th>BranchAbbreviation</th>
                      <th>Status</th>
                      <th>DeptId</th>
                      <th>InstId</th>
                      <th>Action</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let branch of branches">
                      <td>{{branch.branchId}}</td>
                      <td>{{branch.branch}}</td>
                      <td>{{branch.branchAbbreviation}}</td>
                      <td>{{branch.status}}</td>
                      <td>{{branch.deptId}}</td>
                      <td>{{branch.instId}}</td>
                      <td ngbDropdown>
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-dark btn-sm btn-custom" id="dropdownBasic1"
                            ngbDropdownToggle><span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            Action <span class="caret"></span></button>
                          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li class="dropdown-item" (click)="handleAddEdit(branch.branchId, edit)" id="cstmBtn">
                              Edit</li>
                            <li class="dropdown-item" (click)="handleDelete(branch.branchId, delete)" id="cstmBtn">
                              Delete</li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Branch</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" #addForm="ngForm">
      <div class="form-group">
        <label class="col-md-4 control-label" for="">Branch:</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="branchdto.branch" name="branch">
          <p>{{ branch }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">BranchAbbreviation:</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="branchdto.branchAbbreviation" name="branchAbbreviation">
          <p>{{ branchAbbreviation }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Department:</label>
        <div class="col-md-4">
          <select name="deptId" [(ngModel)]="branchdto.deptId">
            <option *ngFor="let d of deptList let i = index" [attr.selected]="!i" [ngValue]="d.departmentId">
              {{d.departmentName}}</option>
          </select>


        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Institution:</label>
        <div class="col-md-4">
          <select [(ngModel)]="branchdto.instId" [ngModelOptions]="{standalone: true}" name="instId">
            <option *ngFor="let i of instList let i = index" [attr.selected]="!i" [ngValue]="i.instId">
              {{i.instituteName}}</option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Status:</label>
        <div class="col-md-4">
          <input type="checkbox" [(ngModel)]="branchdto.status" name="status">
        </div>
      </div>
      <input type="hidden" name="branchId" [(ngModel)]="branchdto.branchId" />

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveBranch()">Add</button>
  </div>
</ng-template>



<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update {{ branchdto.branch }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #userForm="ngForm">

      <div class="form-group">
        <label class="col-md-4 control-label" for="">Branch:</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="branchdto.branch" name="branch">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">BranchAbbreviation:</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="branchdto.branchAbbreviation" name="branchAbbreviation">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Department:</label>
        <div class="col-md-4">
          <select [(ngModel)]="branchdto.deptId" [ngModelOptions]="{standalone: true}" name="deptId"
            value="branchdto.deptId">
            <option *ngFor="let d of deptList" [selected]="d.departmentId === branchdto.deptId"
              [ngValue]="d.departmentId">
              {{d.departmentName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Institution:</label>
        <div class="col-md-4">
          <select [(ngModel)]="branchdto.instId" [ngModelOptions]="{standalone: true}" name="instId">
            <option *ngFor="let i of instList" [attr.selected]="!i" [ngValue]="i.instId">
              {{i.instituteName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">Status:</label>
        <div class="col-md-4">
          <input type="checkbox" [(ngModel)]="branchdto.status" name="status">
        </div>
        <p>{{ status }}</p>
      </div>
      <input type="hidden" name="branchId" [(ngModel)]="branchdto.branchId" />
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveBranch()">Update</button>
  </div>
</ng-template>